<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    height:400px;
    width:15%;
    float:left;
    padding:5px;
    overflow:auto;
    background-color:#eeeeee;    
}
#section {
    width:80%;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#nav_content
{
  overflow:auto;
  background:#fff;
}
#section_content
{
  height:500px;
  overflow:auto;
  background:#fff;
  padding:10px;
}
p.small 
{
    line-height: 30px;
}
p.big 
{
    line-height: 60px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}

h3 
   { 
     color: blue; 
     background-color: ; 
     margin-top: 0px;
     margin-bottom: 0px;
   }
h3:hover 
   { 
     color: white; 
     background-color: blue; 
     transition: all 250ms ease-in-out; 
   }    

h4 
   { 
     color: blue; 
     background-color: ; 
     margin-top: 0px;
     margin-bottom: 0px;
   }
h4:hover 
   { 
     color: white; 
     background-color: blue; 
     transition: all 250ms ease-in-out; 
   }    

table {
  margin-left: 60px;
  background-color: gray;
  width: 800px;
}
iframe {
  margin-left: 40px;
  background-color: #E1EDEB;
}
body 
   { 
      font-family: 'Varela Round', Verdana, Arial, sans-serif;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: white;
      box-shadow: 10px 10px 10px rgba(0,0,0,.5);
   }
h1 
   { 
     color: white; 
     background-color: navy; 
   }
h1:hover 
   { 
     color: navy; 
     background-color: lightgray; 
     transition: all 500ms ease-in-out; 
   }
h2 
   { 
     color: blue; 
     margin-left: 40px ; 
   }

</style>
