<style>
#header {
    width: 50%;
    float: left;
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
}
#section_speech {
    display: block;
    float: left;
    padding: 10px;   
    width: 50%;
    background-color: #CADCD7;
}

#nav {
    line-height:30px;
    height:400px;
    width:15%;
    float:left;
    padding:5px;
    overflow:auto;
    background-color: #CADCD7;
}
#section {
    width:80%;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:left;
    padding:5px;
}
#nav_content
{
  overflow:auto;
  background-color: #CADCD7;
}
#section_content
{
  background-color: #E1EDEB;
  overflow:auto;
  padding:10px;
}

h3 
   { 
     color: #616362; 
     background-color: ; 
     margin-top: 0px;
     margin-bottom: 0px;
   }
h3:hover 
   { 
     color: black; 
     background-color: #9FBDB5; 
     transition: all 250ms ease-in-out; 
   }    

h4 
   { 
     color: #0B045C; 
     background-color: ; 
     margin-top: 0px;
     margin-bottom: 0px;
   }
h4:hover 
   { 
     color: navy; 
     background-color: lightgray; 
     transition: all 250ms ease-in-out; 
   }    

iframe {
  width: 100%;
  margin-top: 1px;
  background-color: #E1EDEB;
}
body 
   { 
      font-family: 'Varela Round', Verdana, Arial, sans-serif;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: white;
      box-shadow: 10px 10px 10px rgba(0,0,0,.5);
   }
h1 
   { 
     color: white; 
     background-color: navy; 
   }
h2 
   { 
     color: #0B045C; 
   }
h2:hover
   {
     color: navy;
     background-color: lightgray;
     transition: all 500ms ease-in-out;
   }

</style>
