<!DOCTYPE html>
<html>
  <head><title>TrumpBot Ver 0.1a</title>
  <meta charset="UTF-8">
  <link href="http://www.viclab.org/css/style.css?version=2.0" rel="stylesheet" />
  </head>
  <body align="left">

<div id="header"><br>
<table align=left bgcolor=gray><tr><td><img src="http://www.viclab.org/trump.jpg"></td>
<td><h1>Donald Trump Speech Bot</h1>
<a href="http://nexus.viclab.org/TrumpBot"><h2>New Speech</h2>
<a href="http://www.viclab.org"><h5>www.viclab.org</h2>
</td></tr></table>

</div>
<p></p>
<div id="section_speech">
        {{ out | safe }}
</div>
</body>
</html>

