<!DOCTYPE html>
<html>
  <head><title>TrumpBot Ver 1.10</title>
  <meta charset="UTF-8">
  <link href="http://www.viclab.org/css/style.css?version=2.4" rel="stylesheet" />
  </head>
  <body  align="left">

<div id="header"><br>
<table align=left bgcolor=gray>
<tr>
  <td><img src="http://www.viclab.org/trump.jpg"></td>
  <td><h1>Donald Trump Speech Bot</h1>
  <form action="/TrumpBot" method="post">
  Speech Category: {{ form.SpeechType}}
  <input type="submit" value="New Speech">
  </form>
  <hr><a href="http://www.viclab.org"><h5>www.viclab.org</h2>
</td></tr></table>

</div>
<p></p>
<div id="section_speech">
<table width=100% align=left>
<tr><td>
{% for line in out %}
    <p>    {{ line  }} </p
{% endfor %}
</td></tr>
</table>
</div>
</body>
</html>

